.DS_Store
node_modules/
dist/
build/
impl/*.tgz
python/decl/_js/
python/LICENSE
python/dist/
python/build/
python/.venv/
*.egg-info/
__pycache__/
impl/LICENSE
python/decl/_tree_sitter/src/
python/decl/_tree_sitter/*.so
rust/target/
rust/grammar/
rust/LICENSE
